<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution natureId="org.eclipse.dltk.javascript.core.nature">
		 <selector class="org.eclipse.dltk.javascript.internal.parser.JavaScriptParserSelector"/>
         <parser
               class="org.eclipse.dltk.javascript.parser.JavaScriptParserFactory"
               description="JavaScript Source Parser"
               id="org.eclipse.dltk.javascript.NewParser"
               name="JavaScript *DLTK* Parser"
               priority="1" />
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.core.problemFactory">
         <problemIdentifierFactory
               class="org.eclipse.dltk.javascript.parser.JavaScriptParserProblemFactory"
               namespace="org.eclipse.dltk.javascript.parser.JavaScriptParserProblems">
         </problemIdentifierFactory>
   </extension>
</plugin>
