<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.dltk.launching.debuggingEngine">
    <engineContribution natureId="org.eclipse.dltk.javascript.core.nature">
      <engine
        class="org.eclipse.dltk.javascript.jsjdtdebugger.JavaScriptAndJDTDebuggerRunnerFactory"
        description="%DebuggingEngine.description"
        id="org.eclipse.dltk.javascript.jsjdtdebugger"
        name="%DebuggingEngine.name"
        priority="0"
        propertyPageId="org.eclipse.dltk.javascript.propertyPage.debug.engines.jsjdtdebugger"
        preferencePageId="org.eclipse.dltk.javascript.preferences.debug.engines.jsjdtdebugger">
      </engine>
    </engineContribution>
  </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page
      category="org.eclipse.dltk.javascript.preferences.debug.engines"
      class="org.eclipse.dltk.javascript.jsjdtdebugger.preferences.JavaScriptAndJdtDebuggerPreferencePage"
      id="org.eclipse.dltk.javascript.preferences.debug.engines.jsjdtdebugger"
      name="%PreferencePage.name">
    </page>
  </extension>

  <extension point="org.eclipse.ui.propertyPages">
    <page
      class="org.eclipse.dltk.javascript.jsjdtdebugger.preferences.JavaScriptAndJdtDebuggerPreferencePage"
      category="org.eclipse.dltk.javascript.propertyPage.debug.engines"
      id="org.eclipse.dltk.javascript.propertyPage.debug.engines.jsjdtdebugger"
      name="%PropertyPage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test
            property="org.eclipse.core.resources.projectNature"
            value="org.eclipse.dltk.javascript.core.nature" />
        </adapt>
      </enabledWhen>
    </page>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           description="%suspendOnMethodEntry.description"
           id="org.eclipse.dltk.javascript.jsjdtdebugger.suspendOnMethodEntry"
           name="%suspendOnMethodEntry.name">
     </command>
     <command
           description="%suspendOnMethodExit.description"
           id="org.eclipse.dltk.javascript.jsjdtdebugger.suspendOnMethodExit"
           name="%suspendOnMethodExit.name">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.eclipse.dltk.javascript.jsjdtdebugger.handler.ToggleSuspendOnMethodEntry"
           commandId="org.eclipse.dltk.javascript.jsjdtdebugger.suspendOnMethodEntry">
     </handler>
     <handler
           class="org.eclipse.dltk.javascript.jsjdtdebugger.handler.ToggleSuspendOnMethodExit"
           commandId="org.eclipse.dltk.javascript.jsjdtdebugger.suspendOnMethodExit">
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.debug.ui.BreakpointView">
        <menu
              label="%jsjdtDebuggerMenu.label">
           <command
                 commandId="org.eclipse.dltk.javascript.jsjdtdebugger.suspendOnMethodEntry"
                 style="toggle"
                 tooltip="%suspendOnMethodEntry.tooltip">
           </command>
           <command
                 commandId="org.eclipse.dltk.javascript.jsjdtdebugger.suspendOnMethodExit"
                 style="toggle"
                 tooltip="%suspendOnMethodExit.tooltip">
           </command>
        </menu>
     </menuContribution>
  </extension>

</plugin>
