<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.dltk.launching.interpreterInstallTypes">
   <interpreterInstallType
         class="org.eclipse.dltk.internal.javascript.nodejs.NodeJSInterpreterType"
         id="org.eclipse.dltk.javascript.nodejs.InstallType">
   </interpreterInstallType>
</extension>
</plugin>
