<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ClosureCompiler"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
            <run
                  class="org.eclipse.dltk.javascript.typelib.compiler.ClosureCompilerApplication">
            </run>
      </application>
   </extension>

</plugin>
