<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.core.manipulation.refactoringEngine">
      <refactoringEngine
            class="org.eclipse.dltk.javascript.core.manipulation.RefactoringEngine"
            natureID="org.eclipse.dltk.javascript.core.nature">
      </refactoringEngine>
   </extension>

</plugin>
