<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="typeInfoLabelProvider" name="JavaScript TypeInfo label provider" schema="schema/typeInfoLabelProvider.exsd"/>
   <extension-point id="problemSections" name="JavaScript Problem" schema="schema/problemSections.exsd" />
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.dltk.javascript.internal.ui.editor.JavaScriptEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="true"
            extensions="js"
            icon="icons/obj16/sourceEditor.gif"
            id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"
            name="JavaScript Editor [DLTK]">
         <contentTypeBinding
               contentTypeId="org.eclipse.dltk.javascriptContentType">
         </contentTypeBinding>
      </editor>
   </extension>

  <extension point="org.eclipse.ui.editorActions">
    <editorContribution
      targetID="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"
      id="org.eclipse.dltk.javascript.internal.ui.editor.JavaScriptEditor.ruler">
      <action
        label="JavaScript Selection Ruler action"
        class="org.eclipse.dltk.ui.actions.ScriptEditorRulerActionDelegate:org.eclipse.dltk.javascript.core.nature"
        actionID="RulerClick"
        id="org.eclipse.dltk.javascript.internal.ui.editor.JavaScriptSelectRulerAction">
      </action>
    </editorContribution>
  </extension>    
   
      
   <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.dltk.javascript.internal.ui.JavaScriptUIPreferenceInitializer"/>
    </extension>
    <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.dltk.javascript.internal.ui.search.JavaScriptSearchPage"
            enabled="true"
            extensions="js:90"
            icon="/icons/obj16/jsearch_obj.gif"
            id="org.eclipse.dltk.ui.JavaScriptSearchPage"
            label="%DLTKSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>      
   </extension>
   <extension
       point="org.eclipse.ui.actionSets">
        <actionSet
            label="%ScriptCodingActionSet.label"
            description="%ScriptCodingActionSet.description"
            visible="false"
            id="org.eclipse.dltk.javascript.ui.CodingActionSet">
<!-- =========================================================================== -->
<!-- Refactoring Menu                                                            -->
<!-- =========================================================================== -->       
	         
       
<!-- =========================================================================== -->
<!-- Source Menu                                                                 -->
<!-- =========================================================================== -->
         <menu
               label="%SourceMenu.label"
               path="edit"
               id="org.eclipse.dltk.ui.source.menu">
		    <separator
                  name="commentGroup">
            </separator>
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="importGroup">
            </separator>
            <separator
                  name="generateGroup">
            </separator>
            <separator
                  name="codeGroup">
            </separator>
            <separator
                  name="externalizeGroup">
            </separator>
            <separator
                  name="convertGroup">
            </separator>
         </menu>
         <!-- Comment Group -->
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.add.javadoc.comment"
               label="%AddJavaDocCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/commentGroup"
               id="org.eclipse.dltk.ui.actions.AddJavadocComment">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.quick.format"
               label="%FormatElementAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.FormatElement">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.format"
               label="%FormatAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.Format">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.indent"
               label="%IndentAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.Indent">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.uncomment"
               label="%UncommentAction.label"
               retarget="true"
               id="org.eclipse.dltk.ui.actions.Uncomment">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.comment"
               label="%CommentAction.label"
               retarget="true"
               id="org.eclipse.dltk.ui.actions.Comment">
         </action>
		<action
               definitionId="org.eclipse.dltk.ui.edit.text.script.remove.block.comment"
               label="%RemoveBlockCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/commentGroup"
               id="org.eclipse.dltk.ui.actions.RemoveBlockComment">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.add.block.comment"
               label="%AddBlockCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/commentGroup"
               id="org.eclipse.dltk.ui.actions.AddBlockComment">
         </action>
      </actionSet>
        <actionSet
              description="%JavaScriptActionSet.description"
              id="org.eclipse.dltk.javascript.ui.JavaScriptActionSet"
              label="%JavaScriptActionSet.label">
           <action
                 class="org.eclipse.dltk.javascript.ui.actions.OpenMethodAction"
                 definitionId="org.eclipse.javascript.ui.navigate.open.method"
                 icon="icons/ctool16/openmethod.gif"
                 id="openMethod"
                 label="%OpenMethodAction.label"
                 menubarPath="navigate/open.ext2"
                 toolbarPath="org.eclipse.search.searchActionSet/Search"
                 tooltip="%OpenMethodAction.tooltip">
           </action>
        </actionSet>
 </extension>
   <extension
      id="org.eclipse.dltk.javascript.ui.editor.DocumentSetupParticipant"
      name="%documentSetupParticipantName"
      point="org.eclipse.core.filebuffers.documentSetup">
		<participant extensions="js" 
			class="org.eclipse.dltk.javascript.internal.ui.editor.JavaScriptDocumentSetupParticipant">
   		</participant>
	</extension>
	<extension
       point="org.eclipse.ui.bindings">
       <key
            sequence="M1+M2+/"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId="org.eclipse.dltk.ui.edit.text.script.add.block.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <!-- free this on MAC, see: https://bugs.eclipse.org/bugs/show_bug.cgi?id=113981 -->
      <key
            platform="carbon"
            sequence="M1+M2+/"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

      <key
            sequence="M1+M2+\"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId="org.eclipse.dltk.ui.edit.text.script.remove.block.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.javascript.ui.navigate.open.method"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M">
      </key>                   
      <key
            sequence="M2+M3+C"
            commandId="org.eclipse.dltk.javascript.ui.action.modify.parameters"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+C"
            commandId=""
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+C"
            commandId="org.eclipse.dltk.javascript.ui.action.modify.parameters"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+M"
            commandId="org.eclipse.dltk.javascript.ui.action.extract.method"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+M"
            commandId=""
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+M"
            commandId="org.eclipse.dltk.javascript.ui.action.extract.method"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+L"
            commandId="org.eclipse.dltk.javascript.ui.action.extract.local"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+L"
            commandId=""
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+L"
            commandId="org.eclipse.dltk.javascript.ui.action.inline.method"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
      <key
            sequence="M2+M3+I"
            commandId="org.eclipse.dltk.javascript.ui.action.inline.method"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+I"
            commandId=""
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="COMMAND+ALT+I"
            commandId="org.eclipse.dltk.javascript.ui.action.extract.local"
            contextId="org.eclipse.dltk.ui.scriptEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
 	</extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.dltk.javascript.ui"
            name="JavaScript [DLTK]"
            >
      </category>
      <wizard
            category="org.eclipse.dltk.javascript.ui"
            class="org.eclipse.dltk.javascript.internal.ui.wizards.JavascriptProjectCreationWizard"
            finalPerspective="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
            icon="icons/ctool16/newjscript_wiz.gif"
            id="org.eclipse.dltk.javascript.internal.ui.wizards.JavascriptProjectWizard"
            name="Javascript Project"
            preferredPerspectives="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
            project="true">
         <description>
            Creates new Javascript Project.
         </description>
      </wizard>
       <wizard
             category="org.eclipse.dltk.javascript.ui"
             class="org.eclipse.dltk.javascript.internal.ui.wizards.JavaScriptFileCreationWizard"
             icon="icons/ctool16/newjscript_wiz.gif"
             id="org.eclipse.dltk.javascript.internal.ui.wizards.JavaScriptFileCreationWizard"
             name="%NewJsFile.label">
          <description>
          	Creates new JavaScript Source File.
          </description>
       </wizard>
      </extension>
      <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.dltk.javascript.internal.ui.JavaScriptUIPreferenceInitializer"/>
    </extension>
    
    <extension
       point="org.eclipse.ui.preferencePages"> 	          
	    <page	          
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptGlobalPreferencesPage"
	          id="org.eclipse.dltk.javascript.ui.javascript"
	          name="%JavaScriptPreferencePage.name"/>
	    <page
	          category="org.eclipse.dltk.javascript.ui.javascript"
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptEditorPreferencesPage"
	          id="org.eclipse.dltk.javascript.ui.EditorPreferences"
	          name="%JavaScriptEditorPreferencePage.name"/>
        <page
              category="org.eclipse.dltk.javascript.ui.EditorPreferences"
              class="org.eclipse.dltk.ui.preferences.ScriptEditorHoverPreferencePage:org.eclipse.dltk.javascript.core.nature"
              id="org.eclipse.dltk.javascript.ui.editor.Hovers"
              name="%JavaScriptEditorHoversPreferencePage.name"/>	          
	    <page
	          category="org.eclipse.dltk.javascript.ui.EditorPreferences"
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptEditorSyntaxColoringPreferencePage"
	          id="org.eclipse.dltk.javascript.ui.editor.SyntaxColoring"
	          name="%JavaScriptEditorSyntaxColoringPreferencePage.name"/>
        <page
              category="org.eclipse.dltk.javascript.ui.javascript"
              class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptTodoTaskPreferencePage"
              id="org.eclipse.dltk.javascript.preferences.todo"
              name="%TaskTagsPreferencePage.name"/>	          
	    <page
	          category="org.eclipse.dltk.javascript.ui.EditorPreferences"
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptSmartTypingPreferencePage"
	          id="org.eclipse.dltk.javascript.ui.editor.SmartTyping"
	          name="%JavaScriptEditorSmartTypingPreferencePage.name"/>          
	    <page
          category="org.eclipse.dltk.javascript.ui.EditorPreferences"
          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptFoldingPreferencePage"
          id="org.eclipse.dltk.javascript.ui.editor.JavascriptFolding"
          name="%JavaScriptEditorFoldingPreferencePage.name"/>
	<page
           category="org.eclipse.dltk.javascript.ui.EditorPreferences"
           class="org.eclipse.dltk.javascript.internal.ui.templates.JavaScriptTemplatePreferencePage"
           id="javascriptTemplatePreferencePage"
           name="%JavaScriptEditorTemplatesPreferencePage.name">
     </page>
     <page
     	   category="org.eclipse.dltk.javascript.ui.EditorPreferences"
           class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptMarkOccurrencesPreferencePage"
           id="org.eclipse.dltk.javascript.ui.editor.MarkOccurrencesPreference"
           name="Mark Occurrences">
     </page>
       <page
             category="org.eclipse.dltk.javascript.ui.javascript"
             class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptErrorWarningPreferencePage"
             id="org.eclipse.dltk.javascript.preferences.error.warning"
             name="%ErrorWarningPreferencePage.name">
       </page>	          
	 </extension>
	 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
          icon="icons/eview16/javascript_persp.gif"
          id="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
          name="%JavascriptPerspectiveName"/>
 </extension>
 
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          category="org.eclipse.dltk.javascript.propertyPage"
          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptBuildPathPropertyPage"
          id="org.eclipse.dltk.javascript.ui.BuildpathProperties"
          name="%JavaScriptBuildPathPropertyPage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.javascript.core.nature"/>
        </adapt>         
      </enabledWhen>
      <keywordReference id="org.eclipse.dltk.ui.buildpath" />
    </page>    
    <page
          category="org.eclipse.dltk.javascript.propertyPage"
          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptTodoTaskPreferencePage"
          id="org.eclipse.dltk.javascript.propertyPage.todo"
          name="%TaskTagsPropertyPagePage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.javascript.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page>
    <page
		category="org.eclipse.dltk.javascript.propertyPage"
		class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptErrorWarningPreferencePage"
		id="org.eclipse.dltk.javascript.propertyPage.error.warning"
		name="%ErrorWarningPreferencePage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.javascript.core.nature"/>
        </adapt>
      </enabledWhen>
	</page>
    <page
      name="%JavaScriptPropertyPage.name"
      class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptPropertyPage"
      id="org.eclipse.dltk.javascript.propertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.javascript.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page>    
    <page
      category="org.eclipse.dltk.javascript.propertyPage"
      name="%EditorPreferencePage.name"
      class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptEditorPropertyPage"
      id="org.eclipse.dltk.javascript.editor.propertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.javascript.core.nature"/>
        </adapt>
      </enabledWhen>
    </page>
    <page
      category="org.eclipse.dltk.javascript.editor.propertyPage"
      name="%EditorSaveActionsPreferencePage.name"
      class="org.eclipse.dltk.javascript.internal.ui.CodeFormatSaveParticipantConfigurationPage"
      id="org.eclipse.dltk.javascript.editor.saveActions.propertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.javascript.core.nature"/>
        </adapt>
      </enabledWhen>
    </page>

 </extension>   
  
 <extension
         point="org.eclipse.ui.commands">
         <command
            name="%ActionDefinition.addBlockComment.name"
            description="%ActionDefinition.addBlockComment.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.add.block.comment">
      </command>
      <command
            name="%ActionDefinition.removeBlockComment.name"
            description="%ActionDefinition.removeBlockComment.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.remove.block.comment">
      </command>
	  <command
            name="%ActionDefinition.format.name"
            description="%ActionDefinition.format.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.format">
      </command>
      <command
            name="%ActionDefinition.quickformat.name"
            description="%ActionDefinition.quickformat.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.quick.format">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%ActionDefinition.OpenMethod.desciption"
            id="org.eclipse.javascript.ui.navigate.open.method"
            name="%ActionDefinition.OpenMethod.name">
      </command>
      <command
            name="%ActionDefinition.extractLocalVariable.name"
            description="%ActionDefinition.extractLocalVariable.description"
            categoryId="org.eclipse.dltk.ui.category.refactoring"
            id="org.eclipse.dltk.javascript.ui.action.extract.local">
      </command>
      <command
            name="%ActionDefinition.extractMethod.name"
            description="%ActionDefinition.extractMethod.description"
            categoryId="org.eclipse.dltk.ui.category.refactoring"
            id="org.eclipse.dltk.javascript.ui.action.extract.method">
      </command>
      <command
            name="%ActionDefinition.introduceParameter.name"
            description="%ActionDefinition.introduceParameter.description"
            categoryId="org.eclipse.dltk.ui.category.refactoring"
            id="org.eclipse.dltk.javascript.ui.action.introduce.parameter">
      </command>
      <command
            name="%ActionDefinition.modifyMethodParameters.name"
            description="%ActionDefinition.modifyMethodParameters.description"
            categoryId="org.eclipse.dltk.ui.category.refactoring"
            id="org.eclipse.dltk.javascript.ui.action.modify.parameters">
      </command>
      <command
            name="%ActionDefinition.inlineMethod.name"
            description="%ActionDefinition.inlineMethod.description"
            categoryId="org.eclipse.dltk.ui.category.refactoring"
            id="org.eclipse.dltk.javascript.ui.action.inline.method">
      </command>
  </extension>
  <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingJavascriptSource.name"
            description="%context.editingJavascriptSource.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.eclipse.dltk.ui.javascriptEditorScope">
      </context>
  </extension>
<!-- Code completion --> 
	<extension
		point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="JavaScriptTypeCompletionProposalComputer">
		<scriptCompletionProposalComputer 
			class="org.eclipse.dltk.javascript.internal.ui.text.completion.JavaScriptTypeCompletionProposalComputer"
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			toolkitId="org.eclipse.dltk.javascript.core.nature">
			<partition type="__dftl_partition_content_type"/>
			<partition type="__javascript_string_double"/>
			<partition type="__javascript_string_single"/>
		</scriptCompletionProposalComputer>		
	</extension>
 <extension
       id="JSDocCompletionProposalComputer"
       name="JSDoc Proposals"
       point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
    <scriptCompletionProposalComputer
          categoryId="org.eclipse.dltk.javascript.ui.javascriptDocProposalCategory"
          class="org.eclipse.dltk.javascript.internal.ui.text.completion.JSDocCompletionProposalComputer"
          toolkitId="org.eclipse.dltk.javascript.core.nature">
       <partition
             type="__javascript_doc">
       </partition>
    </scriptCompletionProposalComputer>
 </extension>
 <extension
       id="javascriptDocProposalCategory"
       name="JSDoc Proposals"
       point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
    <proposalCategory></proposalCategory>
 </extension>
	<extension point="org.eclipse.dltk.ui.completion">
       <proposalLabelProvider
             class="org.eclipse.dltk.javascript.internal.ui.text.completion.JavaScriptCompletionProposalLabelProvider"
             nature="org.eclipse.dltk.javascript.core.nature">
       </proposalLabelProvider>
	</extension>
	
	 <extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="org.eclipse.dltk.javascript.internal.ui.JavaScriptUILanguageToolkit"
          nature="org.eclipse.dltk.javascript.core.nature"/>
 </extension>
  <extension
        point="org.eclipse.dltk.ui.scriptDocumentationProviders">
     <provider
           class="org.eclipse.dltk.javascript.scriptdoc.ScriptDocumentationProvider"
           id="org.eclipse.dltk.javascript.ui.javascriptDocumentationProvider"
           nature="org.eclipse.dltk.javascript.core.nature">           
     </provider>
     <provider
           class="org.eclipse.dltk.javascript.scriptdoc.BuiltinElementDocumentationProvider"
           id="org.eclipse.dltk.javascript.ui.builtinDocumentationProvider"
           nature="org.eclipse.dltk.javascript.core.nature">
     </provider>
     <provider
           class="org.eclipse.dltk.javascript.scriptdoc.ElementDocumentationProvider"
           id="org.eclipse.dltk.javascript.ui.builtinDocumentationProvider"
           nature="org.eclipse.dltk.javascript.core.nature">
     </provider>
  </extension>   
  <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="org.eclipse.dltk.javascript.internal.ui.templates.JavaScriptUniversalTemplateContextType"
          id="javascriptUniversalTemplateContextType"
          name="%JavaScriptTemplateContextName">
    </contextType>
    <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
    </include>
    <contextType
          class="org.eclipse.dltk.javascript.internal.ui.templates.JSDocTemplateContextType"
          id="JSDocTemplateContextType"
          name="%JSDocTemplateContextName">
    </contextType>
    <include
          file="templates/jsdoc-templates.xml"
          translations="templates/jsdoc-templates.properties">
    </include>
 </extension>
 
 
 
 
 <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      
 </extension> 
 
 <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.javascript.ui.CodingActionSet">
         <part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
	     <part id="org.eclipse.dltk.ui.ScriptExplorer"/>
      </actionSetPartAssociation>

      <actionSetPartAssociation
            targetID="org.eclipse.dltk.javascript.ui.JavaScriptActionSet">
         <part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
      </actionSetPartAssociation>   

      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.ScriptCodingActionSet">
         <part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
      </actionSetPartAssociation>    
        
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
	  </actionSetPartAssociation>  
	  <actionSetPartAssociation targetID="org.eclipse.dltk.ui.text.actionSet.presentation">
		<part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
	  </actionSetPartAssociation>
 </extension>

<!--
<extension point="org.eclipse.dltk.ui.formatterFactory">
   <engineContribution natureId="org.eclipse.dltk.javascript.core.nature">
   <formatterFactory
         class="org.eclipse.dltk.javascript.internal.ui.formatting.OldFormatterFactory"
         id="org.eclipse.dltk.javascript.oldFormatter"
         priority="0">
   </formatterFactory>
   </engineContribution>
</extension>
-->

<extension point="org.eclipse.ui.preferencePages"> 	          
	<page
		category="org.eclipse.dltk.javascript.ui.javascript"
		class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptFormatterPreferencePage"
		id="org.eclipse.dltk.javascript.preferencePage.formatter"
		name="%JavaScriptFormatterPreferencePage.name"/>
</extension>
<extension point="org.eclipse.ui.propertyPages">
	<page
		class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptFormatterPreferencePage"
		category="org.eclipse.dltk.javascript.propertyPage"
		id="org.eclipse.dltk.javascript.propertyPage.formatter"
		name="%Formatter.PropertyPage">
		<enabledWhen>
			<adapt type="org.eclipse.core.resources.IProject">
				<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.javascript.core.nature"/>
			</adapt>
		</enabledWhen>
	</page>
</extension>

<extension point="org.eclipse.dltk.ui.folding">
  <structureProvider 
   	nature="org.eclipse.dltk.javascript.core.nature"
   	class="org.eclipse.dltk.ui.text.folding.DelegatingFoldingStructureProvider">
  </structureProvider>
  <blockProvider
    nature="org.eclipse.dltk.javascript.core.nature"
    class="org.eclipse.dltk.javascript.internal.ui.text.folding.JavaScriptCommentFoldingBlockProvider">
  </blockProvider>
  <blockProvider
    nature="org.eclipse.dltk.javascript.core.nature"
    class="org.eclipse.dltk.javascript.internal.ui.text.folding.JavaScriptCodeFoldingBlockProvider">
  </blockProvider>
</extension>
<extension point="org.eclipse.dltk.ui.refactoring">
	<action
		nature="org.eclipse.dltk.javascript.core.nature"
		class="org.eclipse.dltk.javascript.ui.actions.ExtractTempAction"
		id="org.eclipse.dltk.javascript.ui.action.extract.local"
		label="%Refactoring.Actions.ExtractTemp">
	</action>
 <action
       class="org.eclipse.dltk.javascript.ui.actions.ModifyParametersAction"
       id="org.eclipse.dltk.javascript.ui.action.modify.parameters"
       label="%Refactoring.Actions.ModifyParameters"
       nature="org.eclipse.dltk.javascript.core.nature">
 </action>
 <action
       class="org.eclipse.dltk.javascript.ui.actions.ExtractMethodAction"
       id="org.eclipse.dltk.javascript.ui.action.extract.method"
       label="%Refactoring.Actions.ExtractMethod"
       nature="org.eclipse.dltk.javascript.core.nature">
 </action>
 <action
       class="org.eclipse.dltk.javascript.ui.actions.IntroduceParameterAction"
       id="org.eclipse.dltk.javascript.ui.action.introduce.parameter"
       label="%Refactoring.Actions.IntroduceParameter"
       nature="org.eclipse.dltk.javascript.core.nature">
 </action>
 <action
       class="org.eclipse.dltk.javascript.ui.actions.InlineMethodAction"
       id="org.eclipse.dltk.javascript.ui.action.inline.method"
       label="%Refactoring.Actions.InlineAction"
       nature="org.eclipse.dltk.javascript.core.nature">
 </action>
</extension>

<extension point="org.eclipse.compare.contentMergeViewers">
<viewer
	extensions="js"
	class="org.eclipse.dltk.javascript.internal.ui.compare.JSMergeViewerCreator"
	id="org.eclipse.dltk.javascript.internal.ui.compare.JSMergeViewer">
</viewer>
<contentTypeBinding
	contentTypeId="org.eclipse.dltk.javascriptContentType"
	contentMergeViewerId="org.eclipse.dltk.javascript.internal.ui.compare.JSMergeViewer">
</contentTypeBinding>
</extension>

<extension point="org.eclipse.dltk.ui.search">
   <occurrencesFinder
         class="org.eclipse.dltk.ui.search.ModelElementOccurrencesFinder"
         nature="org.eclipse.dltk.javascript.core.nature">
   </occurrencesFinder>
</extension>

<extension
      point="org.eclipse.dltk.ui.modelLabelProvider">
   <modelLabelProvider
         class="org.eclipse.dltk.javascript.internal.ui.JSModelLabelProvider"
         id="org.eclipse.dltk.javascript.ui.modelLabelProvider"
         language="org.eclipse.dltk.javascript.core.nature">
   </modelLabelProvider>
</extension>

<extension point="org.eclipse.dltk.ui.coloring">
<coloring
      class="org.eclipse.dltk.javascript.internal.ui.JavaScriptColoringPreferences"
      nature="org.eclipse.dltk.javascript.core.nature"
      priority="0">
</coloring>
</extension>

<extension point="org.eclipse.dltk.ui.highlighting">
<highlighter
      class="org.eclipse.dltk.javascript.internal.ui.text.JavaScriptXmlHighlighter"
      nature="org.eclipse.dltk.javascript.core.nature">
</highlighter>
<highlighter
      class="org.eclipse.dltk.javascript.internal.ui.text.JavaScriptDeprecationHighlighter"
      nature="org.eclipse.dltk.javascript.core.nature">
</highlighter>
</extension>

<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
	<target id="org.eclipse.dltk.javascript.code" name="%target.name.javascriptEditor">
		<context type="org.eclipse.ui.texteditor.ITextEditor" />
	</target>
</extension>

<extension point="org.eclipse.dltk.javascript.ui.problemSections">
   <section id="org.eclipse.dltk.javascript.ui.problems.deprecated" name="Deprecated and restricted API" priority="100">
      <problem
      		id="org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_TYPE"
            label="Deprecated type usage"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_FUNCTION"
            label="Deprecated javascript function call"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_VARIABLE"
            label="Deprecated javascript variable access"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_METHOD"
            label="Deprecated java method call"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#DEPRECATED_PROPERTY"
            label="Deprecated java property access"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#PRIVATE_FUNCTION"
            label="Private/protected function call"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#PRIVATE_VARIABLE"
            label="Private/protected variable access"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#HIDDEN_PROPERTY"
            label="Private property access"/>
   </section>
   <section id="org.eclipse.dltk.javascript.ui.problems.unnecessary" name="Unnecessary code" priority="110">
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNREACHABLE_CODE"
            label="Unreachable code"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNUSED_VARIABLE"
            label="Unused variable"/>
   </section>
   <section id="org.eclipse.dltk.javascript.ui.problems.shadowing" name="Name shadowing and conflicts" priority="120">
      <problem
      		id="org.eclipse.dltk.javascript.parser.JSParserProblemGroup#DUPLICATE_DECLARATION"
      		label="Duplicate variable/function declaration"/>
      <problem
      		id="org.eclipse.dltk.javascript.parser.JSParserProblemGroup#DUPLICATE_DECLARATION_OTHER_KIND"
      		label="Declaration duplicates other declaration"/>
      <problem
      		id="org.eclipse.dltk.javascript.parser.JSParserProblemGroup#DECLARATION_HIDES_OTHER"
      		label="Declaration hides other declaration"/>
      <problem
      		id="org.eclipse.dltk.javascript.core.JavaScriptProblems#DUPLICATE_PROPERTY_IN_LITERAL"
      		label="Duplicate property in object literal"/>
   </section>
   <section id="org.eclipse.dltk.javascript.ui.problems.potential" name="Potential programming problems" priority="130">
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#RETURN_INCONSISTENT"
            label="Inconsistent function return values"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#FUNCTION_NOT_ALWAYS_RETURN_VALUE"
            label="Function not always returning a value"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#DECLARATION_MISMATCH_ACTUAL_RETURN_TYPE"
            label="Function returns a different type then it declares"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#EQUAL_AS_ASSIGN"
            label="Assignment (=) when equality (==) test"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNDECLARED_VARIABLE"
            label="Access to undeclared variable"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#REASSIGNMENT_OF_CONSTANT"
            label="Reassignment of a constant"/>
   </section>
   <section
         id="org.eclipse.dltk.javascript.ui.problems.jsdoc"
         name="JSDoc problems"
         priority="140">
      <problem
            id="org.eclipse.dltk.internal.javascript.ti.JSDocProblem#DUPLICATE_TAG"
            label="Duplicate tag">
      </problem>
      <problem
            id="org.eclipse.dltk.internal.javascript.ti.JSDocProblem#MISSING_PARAMETER_NAME"
            label="Missing parameter name">
      </problem>
      <problem
            id="org.eclipse.dltk.internal.javascript.ti.JSDocProblem#UNKNOWN_PARAM"
            label="Unknown parameter">
      </problem>
      <problem
            id="org.eclipse.dltk.internal.javascript.ti.JSDocProblem#DUPLICATE_PARAM"
            label="Duplicate parameter">
      </problem>
      <problem
            id="org.eclipse.dltk.internal.javascript.ti.JSDocProblem#PARAMETER_MISSING_ANNOTATION"
            label="Missing parameter annotation">
      </problem>
      <problem
            id="org.eclipse.dltk.internal.javascript.ti.JSDocProblem#MISSING_TYPE_NAME"
            label="Missing type name">
      </problem>
      <problem
            id="org.eclipse.dltk.internal.javascript.ti.JSDocProblem#WRONG_TYPE_SYNTAX"
            label="Syntax error in type specification">
      </problem>
      <defaultEntry namespace="org.eclipse.dltk.internal.javascript.ti.JSDocProblem"/>
   </section>
   <section id="org.eclipse.dltk.javascript.ui.problems.misc" name="Other problems" priority="150">
      <!--defaultEntry namespace="org.eclipse.dltk.javascript.core.JavaScriptProblems"/-->
      <!--defaultEntry namespace="org.eclipse.dltk.javascript.parser.JavaScriptParserProblems"/-->
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#WRONG_PARAMETERS"
            label="Wrong number of parameters to javascript function call"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#WRONG_JAVA_PARAMETERS"
            label="Wrong number of parameters to java method call"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNKNOWN_TYPE"
            label="Unknown javascript type"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNDEFINED_METHOD"
            label="Undefined javascript function call"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNDEFINED_PROPERTY"
            label="Undefined javascript property access"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNDEFINED_JAVA_METHOD"
            label="Undefined java method call"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#UNDEFINED_JAVA_PROPERTY"
            label="Undefined java property access"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#STATIC_METHOD"
            label="Indirect access to static method"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#STATIC_PROPERTY"
            label="Indirect access to static property"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#INSTANCE_METHOD"
            label="Static reference to none static method"/>
      <problem
            id="org.eclipse.dltk.javascript.core.JavaScriptProblems#INSTANCE_PROPERTY"
            label="Static reference to none static property"/>
   </section>
</extension>

<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
   	<hyperlinkDetector
   		id="org.eclipse.dltk.ruby.RequireHyperlinkDetector"
   		targetId="org.eclipse.dltk.javascript.code"
   		class="org.eclipse.dltk.javascript.internal.ui.text.hyperlink.JSDocTypeHyperlinkDetector"
   		name="%hyperlinkDetector.name.jsdoc_type">
   	</hyperlinkDetector>
</extension>

<extension point="org.eclipse.dltk.ui.saveParticipants">
   <saveParticipant
         class="org.eclipse.dltk.javascript.internal.ui.CodeFormatSaveParticipant"
         nature="org.eclipse.dltk.javascript.core.nature">
   </saveParticipant>
</extension>

</plugin>
